<%= form_for @profile, html: { role: 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, states, prompt: 'Select State' %>
  </div>

  <div class="form-group">
    <%= f.check_box :relocate %>
    <%= f.label :relocate, "Willing to relocate" %>
  </div>

  <div class="form-group">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin, class: 'form-control', value: "http://" %>
  </div>

  <div class="form-group">
    <%= f.label :github %>
    <%= f.text_field :github, class: 'form-control', value: "http://" %>
  </div>

  <div class="form-group">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, class: 'form-control', value: "http://" %>
  </div>

  <div class="form-group">
    <%= f.label :blog %>
    <%= f.text_field :blog, class: 'form-control', value: "http://" %>
  </div>

  <div class="form-group">
    <%= f.label :stackoverflow %>
    <%= f.text_field :stackoverflow, class: 'form-control', value: "http://" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %>
